*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightcoral;
}


 .container h1{

  color: purple;
  margin: 60px auto;
  text-align: center;
  font-weight: bolder;
  font-size: clamp(36px, 8vw, 90px);
  font-family: Arial, Helvetica, sans-serif;
}
/* .container h6{
  justify-content: flex-end;
  text-align: end;
  margin-top: 20px;
  padding-left:900px;
  color: beige;
} */
.navbar {
  display: flex;             
  justify-content: flex-end; 
  align-items: center;       
  gap: 20px;                 
  padding: 10px 20px; 
}

.logo {
  width: 32px;               
  height: 32px;
  border-radius: 50%;        
}

.container img{
  width:50px;
  border-radius: 50px;
  margin-top: 20px;
  
 }
.container h2{
    color:white;
    font-size: larger;
}
.search-box{
  width: 90%;
  max-width: 950px;
  margin: 0px auto;
  margin-top: 100px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: lightcoral;
}
.search-box h2{
  color:white;
}
.heading h1{
  align-items: center;
  padding-left: 600px;
  margin-top:20px;
  font-style:normal;
  font-size: 100px;
  
}

.icons{
   display: flex;
  gap: 15px;
  cursor: pointer;
  color:white;

    }

.icon-container{
  display: flex;
  gap: 20px;
  margin-top: 40px;
  justify-content: center;
  flex-wrap: wrap;


}
.icon-card {
  width: 100px;
  text-align: center;
  
}
@media (max-width: 600px){

  .container h1{
    font-size: 36px;
    margin-top: 20px;
  }

  .search-box{
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .icon-container{
    gap: 15px;
    
  }

  .icon-card{
    width: 80px;
    
    
  }

  .icon-cabs,
  .icon-chat,
  .icon-home,
  .icon-mail,
  .icon-link,
  .icon-figma,
  .icon-admin,
  .icon-code,
  .icon-youtube,
  .icon-add{
    width: 50px;
    height: 50px;
    
  }

  /* .icon-card p{
    font-size: 14px;
    text-align:center;
    margin:8px 0 0;
    padding: 0px;
    padding-left:500px
    
    
  } */

}

.icon-card p{
  font: size 50px;
  padding-right: 40px;
}

.icon-cabs  {
  width: 60px;
  height: 60px;
  background-color: lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
  
.icon-cabs i{
  color:blue;
  font-size: 30px;
  padding:10px;
  align-items: center;
  
}
/* .icon-card p{
  margin:10px;
  padding:0px;
} */


.icon-chat i{
  color:black;
  font-size: 30px;
  padding:10px;
  align-items: center;
}
.icon-chat {
  width: 60px;
  height: 60px;
  background-color:lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .icon-home i{
  color:blueviolet;
  font-size: 30px;
  padding:10px;
  align-items: center;
  
}
.icon-home {
  width: 60px;
  height: 60px;
  background-color:lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .icon-mail i{
  color:dodgerblue;
  font-size: 30px;
  padding:10px;
  align-items: center;
  
}
.icon-mail {
  width: 60px;
  height: 60px;
  background-color:lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .icon-link i{
  color:darkblue;
  font-size: 30px;
  padding:10px;
  align-items: center;
  
}
.icon-link {
  width: 60px;
  height: 60px;
  background-color:lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
    .icon-figma i{
  color:black;
  font-size: 30px;
  padding:10px;
  align-items: center;
  
}
.icon-figma {
  width: 60px;
  height: 60px;
  background-color:lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }


  .icon-admin i{
  color:black;
  font-size: 30px;
  padding:10px;
  align-items: center;
  
}
.icon-admin {
  width: 60px;
  height: 60px;
  background-color:lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
}

  .icon-code i{
  color:grey;
  font-size: 30px;
  padding:10px;
  align-items: center;
  
}
.icon-code{
  width: 60px;
  height: 60px;
  background-color:lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.icon-youtube i{
  color:red;
  font-size: 30px;
  padding:10px;
  align-items: center;
  
}
.icon-youtube{
  width: 60px;
  height: 60px;
  background-color:lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.icon-add i{
  color:dimgray;
  font-size: 30px;
  padding:10px;
  align-items: center;
  
}
.icon-add{
  width: 60px;
  height: 60px;
  background-color:lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
}

